{% extends "base.html" %}

{% block battle %}
    <main>
        <form class="form-block" action="/" method="POST">
                <label for="P1_name">PLAYER 1</label>
                <input type="text" name="P1_name" id="P1_name" placeholder="Enter Pseudonym" required>
                <label for="P1_choice">MAKE YOUR CHOICE</label>
                <select name="P1_choice" id="P1_choice" >
                    <option value="">--SHOW YOUR HAND--</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                    <option value="rock">Rock</option>
                </select>
                <br>
                <br>
                <label for="P2_name">PLAYER 2</label>
                <input type="text" name="P2_name" id="P2_name" placeholder="Enter Pseudonym">
                <label for="P2_choice">MAKE YOUR CHOICE</label>
                <select name="P2_choice" id="P2_choice" >
                    <option value="">--SHOW YOUR HAND--</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                    <option value="rock">Rock</option>
                </select>
                <br>
                <br>
                <input type="submit" value="WHO SHALL PREVAIL?"> 
        </form>

        {{ fight_card }}
    </main>

{% endblock %}