{% extends "base.html" %}

{% block rules %}
    <main>
        <hgroup>
            <h2>YOU ARE ENTERING A WORLD OF PAIN.</h2>
            <h3>WELCOME TO PAPER SCISSORS ROCK!</h3>
        </hgroup>
        <p>Paper, Scissors, Rock or "Pisser" for short is a game older than any other on record. Mankind have used it to solve disputes for fucking ages. The first known record of it is on the cave paintings found on the island of Orkney, where they would use the game to decide who was eaten that week, though it is believed to predate humans entirely. The very earliest primates used a rudimentary version of the game - albeit a more violent variation, but still abiding by the same basic rules of the modern game. Participants attacked their opponents with either feet (paper), fangs (scissors) or fists (rock...obviously) and decided who won by comparing the combatants choices. Some scholars theorise that the rules were rarely followed, so it was very difficult to distinguish from a rather savage mauling.</p>
        <p>We have created a way for you to enjoy this ancient game without the need for violence or even lifting your hands, except to the keyboard. Sorry.</p>
        <p>ARE YOU READY TO PLAY PAPER SCISSORS ROCK?</p>
        <nav><a class="battleLink" href="/battle">LET BATTLE COMMENCE!!!</a></nav>
    </main>
{% endblock %}